<?xml version="1.0"?>

<model>
  <name>traffic_cone</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Bruce</name>
    <email>mxl592@case.edu</email>
  </author>

  <description>
    A model of a traffic cone.
  </description>

</model>
